:root {
  --tetronimo-color: white;
}

body {
  background-color: #22272e;
}

.text {
  color: #adbac7;
  font-family: Consolas, Courier, monospace;
  font-size: 20px;
}

#gamescreen {
  float: left;
  padding-left: 20%;
}

#gamestatic {
  padding-left: 55%;
}

#gameinfo {
  padding-left: 55%;
}

#gamecommands {
  float: left;
  position: absolute;
  left: 1.5%;
  bottom: 3%;
  font-size: small;
  line-height: 110%;
}

#box {
  width: 1ch;
  height: auto;
  color: var(--tetronimo-color);
}

a:link {
  color: inherit;
}
