/* styles.css */
@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url(https://fonts.googleapis.com/css?family=Press+Start+2P);
}

div {
    font-family: 'Press Start 2P';
}

.grid {
    display: grid;
    grid-template-columns: 320px 200px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 2px;
}

.start-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}