body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  border: 5px dashed rgb(98, 102, 105);
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background: rgb(255, 102, 0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Route JS files content styling */
.Outlet {
  margin: 15px;
}

.Outlet li {
  float: none;
  background-color: white;
}

.letterlist li {
  padding-left: 10px;
  background-color: lightblue;
}

.Outlet h1 {
  text-align: center;
}

.noList {
  list-style: none;
  padding-right: 16px;
  text-align: center;
}

.fixPlay {
  background-color: rgb(255, 102, 0);
}

.noList button {
  display: inline;
}

.noList li a {
  display: inline-block;
  padding: 0;
  margin: 14px 0px;
}

.card_box {
  display: flex;
  padding: 20px;
}

.card {
  /* TODO finalise colour scheme */
  display: inline-block;
  box-shadow: rgba(255, 102, 0, 0.4) -5px 5px, rgba(255, 102, 0, 0.3) -10px 10px,
    rgba(255, 102, 0, 0.2) -15px 15px, rgba(255, 102, 0, 0.1) -20px 20px,
    rgba(255, 102, 0, 0.05) -25px 25px;
  margin: 15px;
  text-align: center;
  background-color: rgb(250, 250, 250);
  width: 50%;
}

.card img {
  display: block;
  border: 2px solid;
  border-color: rgba(255, 102, 0, 0.4);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.card button {
  display: inline;
  margin: 8px 8px;
}

.middle {
  text-align: center;
}

table {
  text-align: center;
  padding: 20px;
  width: 50%;
  border: solid #000;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 20px;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccc;
}

form {
  margin: 50px;
  text-align: center;
}

input,
select {
  width: 50%;
  margin: 20px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

label {
  display: block;
}
