:root{
  --background: #22272e;
  --foreground: #adbac7;
  --emphasis: #cdd9e5;
  --overlay: #2d333b;
  --border: #444c56;
  --shadow: #1c2128;
  --neutral: #636e7b;
  --accent: #539bf5;
  --success: #57ab5a;
  --attention: #c69026;
  --severe: #cc6b2c;
  --danger: #e5534b;
  --done: #986ee2;
  --sponsors: #c96198;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
	text-rendering: optimizeLegibility;
}


body {
  font-family: Consolas, Courier, monospace;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--foreground);
  background: var(--background);
}

.navbar {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.1rem 7%;
  margin: 0 auto;
  background-color: var(--overlay);
}

.home {
  font-size: 2rem;
  font-weight: 700;
  font-stretch: semi-expanded;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--foreground);
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navlist li {
  text-align: center;
  padding: 20px 16px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--foreground);
}

.navplay a {
  color: var(--success);
}

.navhiscores a {
  color: var(--accent);
}

.navconfigure a {
  color: var(--done);
}

.navitem:not(:first-child) {
  margin-left: 1rem;
}

.menu {
  position: absolute;
  margin-top: -100px;
  margin-left: -400px;
  top: 50%;
  left: 50%;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menulist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  width: 750px;
  height: 80px;
  margin-top: 15px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  font-stretch: semi-expanded;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-shadow: 0 3px 3px var(--background);
  box-shadow: 0px, 5px, 5px var(--shadow);
  color: var(--emphasis);
  background-color: var(--neutral);
  transition: opacity .1s ease-out, transform 0.2s, text-shadow 0.3s, transform .12s ease-out, background .12s ease-out;
  transform: translate3d(0,-2px,0);
  filter: brightness(95%);
  cursor: pointer;
}

button:hover {
  transition: background .12s ease-out,color .12s ease-out;
  filter: brightness(110%);
}

button:active {
  box-shadow: none;
  transition: transform .12s ease-out,background .12s ease-out,color .12s ease-out;
  transform: translate3d(0,2px,0);
  filter: brightness(110%);
}

.play-btn {
  background-color: var(--success);
}

.hiscores-btn {
  background-color: var(--accent);
}

.configure-btn {
  background-color: var(--done);
}

.save-btn {
  width: 300px;
  height: 50px;
  background-color: var(--done);
}

.exit-btn {
  position: relative;
  bottom: 15%;
  width: 300px;
  height: 50px;
  background-color: var(--danger);
}

.authors {
  position: absolute;
  float: left;
  left: 1.5%;
  bottom: 5%;
  font-size: small;
}

.hiscores-table {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  color: var(--accent)
}

.hiscores-table th {
  padding: 20px;
}

.hiscores-table td {
  padding: 8px;
}

.hiscores-table tr:nth-child(even) {
  background-color: var(--foreground);
}

.hiscores-table tr:nth-child(odd) {
  background-color: var(--emphasis);
}

form {
  margin: auto;
  text-align: center;
  background-color: var(--background);
}

input,
select {
  width: 50%;
  margin: 20px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--foreground);
  font-size: medium;
}

label {
  display: block;
  font-size: medium;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Outlet h1 {
  text-align: center;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

img {
  border: 5px dashed rgb(98, 102, 105);
  margin-top: 15px;
  margin-bottom: 15px;
}

/* .button {
  display: flex;
  outline: 0;
  cursor: pointer;
  border: 2px solid var(--border);
  border-radius: 3px;
  color: var(--foreground);
  background: var(--background);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .Outlet {
  margin: 15px;
}

.Outlet li {
  float: none;
}

.Outlet h1 {
  text-align: center;
} */

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.Outlet {
  margin: 15px;
}

.Outlet li {
  float: none;
  background-color: white;
}

.Outlet h1 {
  text-align: center;
}

.card_box {
  display: flex;
  padding: 20px;
}

.card {
  display: inline-block;
  box-shadow: rgba(255, 102, 0, 0.4) -5px 5px, rgba(255, 102, 0, 0.3) -10px 10px,
    rgba(255, 102, 0, 0.2) -15px 15px, rgba(255, 102, 0, 0.1) -20px 20px,
    rgba(255, 102, 0, 0.05) -25px 25px;
  margin: 15px;
  text-align: center;
  background-color: rgb(250, 250, 250);
  width: 50%;
}

.card img {
  display: block;
  border: 2px solid;
  border-color: rgba(255, 102, 0, 0.4);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.card button {
  display: inline;
  margin: 8px 8px;
} */
